[Desktop Entry]
Type=Application
Version=1.0
Name=streamrs
Name[lv]=streamrs
Comment=Configure streamrs profiles for Stream Deck
Comment[lv]=Konfigurē streamrs profilus Stream Deck ierīcēm
Exec=streamrs-gui
Icon=lv.apps.streamrs
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=lv.apps.streamrs
